@primary-color: #02D4BF;
@link-color: #02D4BF;

@color: #eee;
@title-color:#4a667a;
@header-height: 4rem;
@bg: #24303a; //darken(#fff,5%);
@green: #48c15e;
@red: #ef6670;
@sub-color: #4a667a;