.header(@h) {
    .navbar {
        z-index: 2;
        background-color: rgba(0, 0, 0, .4);
        display: flex;
        padding: .8rem 0 .8rem 10%;
        width: 100vw;
        position: fixed;
        font-size: 1.1rem;
        .navbar-item {
            flex: 1;
            min-width: 5rem;
            max-width: 8rem;
            .navbar-item-link {
                height: @h - .8rem*2;
                line-height: @h - .8rem*2;
                display: block;
                text-align: center;
                letter-spacing: .2rem;
                color: @color;
                user-select: none;
                border-bottom-width: 2px;
                border-bottom-color: transparent;
                border-bottom-style: solid;
                &.active {
                    pointer-events: none;
                    border-bottom-color: @primary-color;
                    color: @primary-color;
                }
                &:hover {
                    border-bottom-color: @primary-color;
                }
            }
        }
    }
}